[submodule "xmarts/xma-pos-voucher-redemption"]
	path = xmarts/xma-pos-voucher-redemption
	url = git@github.com:xmarts/xma-pos-voucher-redemption.git
	branch = 16.0

[submodule "xmarts/xma-distributor"]
	path = xmarts/xma-distributor
	url = git@github.com:xmarts/xma-distributor.git
	branch = 16.0
